.message {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #efa0a0;
    color: #cc5555;
    text-align: center;
    font-size: 14px;

    
}
.error {
    border-color: #ff0000;
    box-shadow: 0 0 3px #ff0000;
}

label.error {
    
}
